:root{
    --color--one: #0a0a0a;
    --color--one--rgba: #00008b;
    --color--two: #ff4500;
    --color--three: #00ff00;
    --color--four: #e52d2d;
    --color--five: #eeebeb;
    --color--six: #ffd733;

    --layout-description-container-x: 10px;
    --layout-description-container-y: 10px;
}
/* 
@font-face {
    font-family: "Roboto-Regular";
    src: url(../storage/font/Roboto/Roboto-Regular.ttf);
} */